body {
  font-family: "Orbitron", sans-serif;
  color: #010912;
  box-sizing: border-box;
}

a {
  color: #010912;
}

img {
  width: 100%;
  height: auto;
}

/* HEADER */
.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  transition: 0.3s;
}

.header img:hover {
  opacity: 0.5;
}

.header .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.menu a {
  display: inline-block;
  font-size: 1.25rem;
  padding: 10px 20px;
  position: relative;
}

.menu a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #010912;
  margin-top: 4px;
  position: absolute;
  transition: 0.3s;
}

.menu a:hover::after {
  width: 100%;
}


/* GERAL */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10%;
}

.subtitulo {
  font-size: 8rem;
  text-transform: uppercase;
  word-break: break-all;
  line-height: 1;
  max-width: 3ch;
}

.descricao {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 40ch;
  margin-bottom: 60px;
}

/* MAIN */
.introducao {
  align-items: center;
}

.introducao h1 {
  font-size: 4rem;
  padding-bottom: 20px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 140px;
  height: 100px;
  background: url("../img/decoracao.svg") no-repeat center;
  position: absolute;
  top: -18px;
  left: -55px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #153456;
}


/* PROJETOS */
.projetos .subtitulo {
  color: #C5D6EA;
}

.projetos .descricao {
  color: #153456;
}

.projetos .descricao strong {
  color: #010912;
}

.projeto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  background-color: #EDF4FC;
  border: 1px solid #C5D6EA;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

.projeto::before {
  content: "";
  display: block;
  width: 10px;
  height: 25px;
  background: linear-gradient(#83BCFC, #315A96);
  position: absolute;
  top: 20px;
  left: -10px;
}

.projeto-container {
  margin-bottom: 40px;
}

.projeto .links {
  grid-column: 1;
  display: flex;
  gap: 20px;
  font-size: 0.9rem;
}

.links a {
  padding: 5px 10px 5px 0;
  border: 1px solid transparent;
}

.links a:hover {
  border-bottom: 1px solid #153456;
}

.projeto-habilidades {
  grid-area: 2 / 2;
}

.projeto span, .projeto ul {
  justify-self: end;
}

.projeto-titulo {
  font-size: 1.25rem;
  font-weight: bold;
}

.projeto-texto {
  font-size: 0.9rem;
  color: #153456;
}

.projeto-habilidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: start;
  gap: 10px;
}

.projeto-habilidades li {
  font-size: 0.9rem;
  background-color: #C5D6EA;
  padding: 5px 10px;
  border: 1px solid #83BCFC;
  border-radius: 5px;
}


/* FORMAÇÃO */
.formacao {
  background-color: #030F1C;
}

.formacao-container {
  padding: 120px 20px;
  position: relative;
}

.formacao .subtitulo {
  color: #000;
}

.formacao .descricao {
  color: #83BCFC;
}

.formacao .descricao strong {
  color: #fff;
}

.cursos-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 60px;
}

.curso {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #010912;
  width: 155px;
  height: 170px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
}

.curso-tipo {
  font-size: 0.9rem;
  color: #315A96;
}

.curso h3 {
  font-size: 1.25rem;
  color: #fff;
  position: relative;
}

.curso h3::before {
  content: "";
  display: block;
  width: 10px;
  height: 25px;
  background: linear-gradient(#83BCFC, #315A96);
  position: absolute;
  top: 0;
  left: -30px;
}

.curso-instituicao {
  font-size: 1.15rem;
  color: #315A96;
}

.formacao-extra h3 {
  font-size: 0.9rem;
  color: #315A96;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra h3::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -2px;
  left: -39px;
}

.imercoes h3::before {
  background: url(../img/icone-cursos.svg) no-repeat center center;
}
.idiomas h3::before {
  background: url(../img/icone-idioma.svg) no-repeat center center;
}

.idiomas {
  margin-top: 40px;
}

.imercoes li {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr;
}

.imercoes li span {
  justify-self: start;
}

.formacao-extra li h4 {
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: #315A96;
}

.imercoes-instituicao {
  font-weight: bold;
}

.idiomas h4 {
  display: inline;
}

/* DETALHE */
.formacao-container::after {
  content: "";
  display: block;
  width: 140px;
  height: 100px;
  background: url("../img/decoracao.svg") no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 20px;
}


/* FOOTER */
.footer {
  background-color: #000305;
}

.footer .descricao {
  color: #315A96;
}

.footer .descricao i {
  background: linear-gradient(#83BCFC, #315A96);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-container {
  padding: 120px 20px 60px 20px;
  grid-template-columns: 1fr 1fr;
}

.footer li, .footer a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}

.footer a:hover {
  border-bottom: 1px solid #fff;
}

.footer-direitos {
  grid-column: 1 / -1;
  font-size: 1.15rem;
  color: #0c2949;
}